body {
    background-color: #FFFFFF;
  
    color: #121C2A;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
  }
  
  .profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    margin-top: 20%;
    height: auto;
    max-width: 200px;
  
    border-radius: 50%;
  }
  
  .profile-name {
    text-align: center;
  
    padding: 60px;
    font-size: 28px;
  }
  
  .links {
    text-align: center;
    margin-top: 20px;
    border: 1px solid #121C2A;
    border-width: 2px;
    padding: 20px;
  
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 40px;
  
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
  
    color: purple;
    transition: color 1s;
  }
  
  a:hover {
    color: black;
    background-color: white;
  }